.wrap-login {
  margin-top: 10px !important;
  background-color: #fff !important;
  border: solid 1px #d0d0d0 !important;
  -webkit-box-shadow: 3px 3px 25px 1px rgba(0,0,0,0.4);
  -moz-box-shadow: 3px 3px 25px 1px rgba(0,0,0,0.4);
  box-shadow: 3px 3px 25px 1px rgba(0,0,0,0.4);
}
.btn-login{
  margin-top: 10px;
  margin-bottom: 30px;
}
